@model Poképedia.Mvc.Models.HomeViewModel

<h2>Pokemon List</h2>

@if (Model != null)
{
    <ul>
        @if(Model.Results is null)
        {
            <p>Failed to fetch Pokemon data.</p>
        }
        else
        {
            @foreach (var pokemon in Model.Results)
            {
                <li>@pokemon.Name</li>
            }
        }
        
    </ul>

    @if (Model.Results is null)
    {
        <p>You can't go to a previous or next page anymore</p>
        <a href="@Url.Action("Index", "Home")">Return to home page</a>
    }
    else
    {
        @if (Model.Results.Count > 0 && Model.Results[0].Url != null)
        {
            <a href="@Url.Action("PreviousPage", "Home")">Previous Page</a>
            <a href="@Url.Action("NextPage", "Home")">Next Page</a>
        }
    }

    
}
else
{
    <p>Failed to fetch Pokemon data.</p>
}